@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background: linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.gbutton {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #804fb3;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b19cd700; /* White background for the button */
    font-family: "Quicksand", sans-serif; /* Use the Quicksand font */ 
    margin-bottom: 10px;
    color: white;
}

.pbutton {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #804fb3;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b19cd700; /* White background for the button */
    font-family: "Quicksand", sans-serif; /* Use the Quicksand font */ 
    margin-bottom: 10px;
    color: white;
}

.lbutton {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #804fb3;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b19cd700; /* White background for the button */
    font-family: "Quicksand", sans-serif; /* Use the Quicksand font */ 
    margin-bottom: 10px;
    color: white;
}

.hbutton {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #804fb3;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b19cd700; /* White background for the button */
    font-family: "Quicksand", sans-serif; /* Use the Quicksand font */ 
    margin-bottom: 10px;
    color: white;
}

.outbtn {
    font-size: 25px;
    font-weight: lighter;
    padding: 10px 20px;
    border: 0px solid #804fb3;
    border-radius: 3px;
    cursor: pointer;
    background-color: #b19cd700; /* White background for the button */
    font-family: "Quicksand", sans-serif; /* Use the Quicksand font */ 
    margin-bottom: 10px;
    color: white;
}



ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
